In [25]:
import pandas as pd
import numpy as np

In [26]:
nfl_file = "NFL Stats.xlsx"

In [27]:
nfl_sal = pd.read_excel(nfl_file, sheet_name=0)
nfl_def = pd.read_excel(nfl_file, sheet_name=1)
nfl_pas = pd.read_excel(nfl_file, sheet_name=2)
nfl_rec = pd.read_excel(nfl_file, sheet_name=3)
nfl_rus = pd.read_excel(nfl_file, sheet_name=4)

In [28]:
def_list = ["LB", "DE", "DT", "CB"]
pass_list = ["QB"]
rec_list = ["WR"]
rush_list = ["RB"]

In [29]:
top_def_df = nfl_sal.loc[nfl_sal['Position'].isin(def_list)]
top_pass_df = nfl_sal.loc[nfl_sal['Position'].isin(pass_list)]
top_rec_df = nfl_sal.loc[nfl_sal['Position'].isin(rec_list)]
top_rush_df = nfl_sal.loc[nfl_sal['Position'].isin(rush_list)]

In [30]:
top_def_list = []
top_pass_list = []
top_rec_list = []
top_rush_list = []
top_def_list = pd.Series.to_list(top_def_df['PLAYER'])
top_pass_list = pd.Series.to_list(top_pass_df['PLAYER'])
top_rec_list = pd.Series.to_list(top_rec_df['PLAYER'])
top_rush_list = pd.Series.to_list(top_rush_df['PLAYER'])

In [31]:
nfl_sal_df = pd.DataFrame(nfl_sal, columns=['PLAYER', 'Year Signed', 'YRS', 'YEAR AVG', 'VALUE'])

In [32]:
nfl_def_df = pd.DataFrame(nfl_def, columns=['Year', 'Player', 'Tm', 'G', 'Int', 'TD', 'PD', 'FF', 'Fmb', 'FR', 'TD.1', 'Sk', 'Comb', 'Solo'])
clean_def_df = nfl_def_df.fillna(0)
clean_def_df = clean_def_df.replace('\*', '', regex=True).astype(str)
clean_def_df = clean_def_df.replace('\+', '', regex=True).astype(str)
clean_def_df = clean_def_df.replace('\*+', '', regex=True).astype(str)

In [33]:
nfl_pas_df = pd.DataFrame(nfl_pas, columns=['Year', 'Player', 'Tm', 'G', 'Cmp', 'Att', 'Cmp%', 'TD', 'Int', 'Rate'])
clean_pas_df = nfl_pas_df.fillna(0)
clean_pas_df = clean_pas_df.replace('\*', '', regex=True).astype(str)
clean_pas_df = clean_pas_df.replace('\+', '', regex=True).astype(str)
clean_pas_df = clean_pas_df.replace('\*+', '', regex=True).astype(str)

In [34]:
nfl_rec_df = pd.DataFrame(nfl_rec, columns=['Year', 'Player', 'Tm', 'G', 'Tgt', 'Rec', 'Ctch%', 'Yds', 'TD', 'Fmb'])
clean_rec_df = nfl_rec_df.fillna(0)
clean_rec_df = clean_rec_df.replace('\*', '', regex=True).astype(str)
clean_rec_df = clean_rec_df.replace('\+', '', regex=True).astype(str)
clean_rec_df = clean_rec_df.replace('\*+', '', regex=True).astype(str)

In [35]:
nfl_rus_df = pd.DataFrame(nfl_rus, columns=['Year', 'Player', 'Tm', 'G', 'Att', 'Yds', 'TD', 'Y/A', 'Y/G', 'Fmb'])
clean_rus_df = nfl_rus_df.fillna(0)
clean_rus_df = clean_rus_df.replace('\*', '', regex=True).astype(str)
clean_rus_df = clean_rus_df.replace('\+', '', regex=True).astype(str)
clean_rus_df = clean_rus_df.replace('\*+', '', regex=True).astype(str)

In [36]:
top_nfl_def_df = clean_def_df.loc[clean_def_df['Player'].isin(top_def_list)]
sort_top_def = top_nfl_def_df.sort_values(["Player", "Year"], ascending=True)

In [37]:
top_nfl_rus_df = clean_rus_df.loc[clean_rus_df['Player'].isin(top_rush_list)]
sort_top_rus = top_nfl_rus_df.sort_values(["Player", "Year"], ascending=True)

In [38]:
top_nfl_pas_df = clean_pas_df.loc[clean_pas_df['Player'].isin(top_pass_list)]
sort_top_pas = top_nfl_pas_df.sort_values(["Player", "Year"], ascending=True)

In [39]:
top_nfl_rec_df = clean_rec_df.loc[clean_rec_df['Player'].isin(top_rec_list)]
sort_top_rec = top_nfl_rec_df.sort_values(["Player", "Year"], ascending=True)

In [44]:
renamed_def = sort_top_def.rename(columns={"Tm":"Team",
                                          "TD": ""})
renamed_df

,Year,Player,Team,G,Int,TD,PD,FF,Fmb,FR,TD.1,Sk,Comb,Solo
6848,2014,Aaron Donald,STL,16,0.0,0.0,1.0,2.0,0.0,0.0,0.0,9.0,48.0,38.0
5492,2015,Aaron Donald,STL,16,0.0,0.0,1.0,0.0,0.0,1.0,0.0,11.0,69.0,44.0
4222,2016,Aaron Donald,LAR,16,0.0,0.0,5.0,2.0,0.0,0.0,0.0,8.0,47.0,36.0
2936,2017,Aaron Donald,LAR,14,0.0,0.0,1.0,5.0,0.0,1.0,0.0,11.0,41.0,32.0
1495,2018,Aaron Donald,LAR,16,0.0,0.0,1.0,4.0,0.0,2.0,0.0,20.5,59.0,41.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5756,2015,Za'Darius Smith,BAL,15,0.0,0.0,1.0,0.0,0.0,0.0,0.0,5.5,30.0,20.0
4609,2016,Za'Darius Smith,BAL,13,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,20.0,10.0
3190,2017,Za'Darius Smith,BAL,14,0.0,0.0,1.0,1.0,0.0,0.0,0.0,3.5,24.0,15.0
1663,2018,Za'Darius Smith,BAL,16,0.0,0.0,2.0,1.0,0.0,0.0,0.0,8.5,45.0,26.0
174,2019,Za'Darius Smith,GNB,16,0.0,0.0,0.0,1.0,0.0,0.0,0.0,13.5,55.0,41.0

In [ ]:
sort_top_rus.rename(columns={})

In [ ]:
sort_top_pas.rename(columns={})

In [ ]:
sort_top_def.rename(columns={})

In [ ]:
sort_top_rec.rename(columns={})

In [18]:
writer = pd.ExcelWriter('TopFullStats.xlsx', engine='xlsxwriter')

sort_top_def.to_excel(writer, sheet_name="Defense", index=False, header=True)
sort_top_pas.to_excel(writer, sheet_name="Passing", index=False, header=True)
sort_top_rec.to_excel(writer, sheet_name="Receiving", index=False, header=True)
sort_top_rus.to_excel(writer, sheet_name="Rushing", index=False, header=True)
nfl_sal_df.to_excel(writer, sheet_name="Salary", index=False, header=True)

writer.save()